<h1>Log de actividades</h1>
  <%= form_tag admin_activity_logs_path, method: :get, class: "form-inline" do %>
    <div class="col-md-4">
      <div class="input-group mb-3">
        <%= select_tag "baby", options_for_select(@babies, "#{params['baby']}"), prompt: 'Seleccionar bebé', class: "custom-select" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group mb-3">
        <%= select_tag "assistant", options_for_select(@assistants, "#{params['assistant']}"), prompt: 'Seleccionar asistente', class: "custom-select" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group mb-3">
        <%= select_tag "status", options_for_select({"Todos" => "all", "En progreso" => "in_progress", "Terminada" => "finished"}, "#{params['status']}"), prompt: 'Seleccionar estatus', class: "custom-select" %>
      </div>
    </div>
    <div class="col-md-12">
      <%= submit_tag "Filtrar", class: "float-right btn btn-primary" %>
      <%= link_to "Limpiar", admin_activity_logs_path, class: "float-right btn btn-default mr-2" %>
    </div>
  <% end %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="table-primary">
        <th>Bebé</th>
        <th>Asistente</th>
        <th>Actividad</th>
        <th>Inicio</th>
        <th>Estatus</th>
        <th>Duración</th>
      </tr>
    </thead>
    <tbody>
      <% @activity_logs.each do |activity_log| %>
        <tr>
          <td>
            <%= activity_log.baby.name %>
          </td>
          <td>
            <%= activity_log.assistant.name %>
          </td>
          <td>
            <%= activity_log.activity.name %>
          </td>
          <td>
            <%= activity_log.start_time.strftime("%Y-%m-%d %H:%M") %>
          </td>
          <td>
            <%= activity_log.stop_time.nil? ? "En progreso" : "Terminada" %>
          </td>
          <td>
            <%= activity_log.duration.nil? ? "*" : activity_log.duration %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="digg_pagination">
  <%= will_paginate @activity_logs, :container => false %>
</div>